In [1]:
import pandas as pd
import seaborn as sns
import plotly.express as px
import numpy as np
import matplotlib.pyplot as plt

In [41]:
data = pd.read_csv("personenmobiliteit incl. namen.csv", delimiter=',', index_col='ID')
display(data)

,Populatie,Vervoerwijzen,KenmerkenVerplaatsing,RegioS,Perioden,Verplaatsingen_1,Afstand_2,Reisduur_3,Verplaatsingen_4,Afstand_5,Reisduur_6
ID,,,,,,,,,,,
0,10000,Totaal,Totaal,Nederland,2010,2.77,30.31,62.54,963.0,10536.0,362.3
1,10000,Totaal,Totaal,Nederland,2011,2.67,30.69,61.33,928.0,10675.0,355.5
2,10000,Totaal,Totaal,Nederland,2012,2.68,29.39,60.45,936.0,10253.0,351.5
3,10000,Totaal,Totaal,Nederland,2013,2.68,30.49,61.18,933.0,10611.0,354.8
4,10000,Totaal,Totaal,Nederland,2014,2.69,30.74,62.74,937.0,10694.0,363.8
...,...,...,...,...,...,...,...,...,...,...,...
126715,20100,Overige vervoerwijze,Vertrektijdstip: avond 18 tot 24 uur,Niet stedelijk,2013,NaN,NaN,NaN,NaN,NaN,NaN
126716,20100,Overige vervoerwijze,Vertrektijdstip: avond 18 tot 24 uur,Niet stedelijk,2014,NaN,NaN,NaN,NaN,NaN,NaN
126717,20100,Overige vervoerwijze,Vertrektijdstip: avond 18 tot 24 uur,Niet stedelijk,2015,NaN,NaN,NaN,NaN,NaN,NaN
126718,20100,Overige vervoerwijze,Vertrektijdstip: avond 18 tot 24 uur,Niet stedelijk,2016,NaN,NaN,NaN,NaN,NaN,NaN
126719,20100,Overige vervoerwijze,Vertrektijdstip: avond 18 tot 24 uur,Niet stedelijk,2017,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
data = data[['Populatie', 'Vervoerwijzen', 'KenmerkenVerplaatsing', 'RegioS', 'Perioden', 'Afstand_2']]
population_total = data[data['Populatie'].isin([10000])] # filter data on total population (uitsluiten van alleen populatie 12 jaar of ouder)
car = population_total[population_total['Vervoerwijzen'].isin(['Auto (passagier)', 'Auto (bestuurder)'])] # filter data on cars
display(car)

,Populatie,Vervoerwijzen,KenmerkenVerplaatsing,RegioS,Perioden,Afstand_2
ID,,,,,,
7040,10000,Auto (bestuurder),Totaal,Nederland,2010,15.33
7041,10000,Auto (bestuurder),Totaal,Nederland,2011,16.00
7042,10000,Auto (bestuurder),Totaal,Nederland,2012,15.28
7043,10000,Auto (bestuurder),Totaal,Nederland,2013,15.63
7044,10000,Auto (bestuurder),Totaal,Nederland,2014,15.57
...,...,...,...,...,...,...
21115,10000,Auto (passagier),Vertrektijdstip: avond 18 tot 24 uur,Niet stedelijk,2013,2.20
21116,10000,Auto (passagier),Vertrektijdstip: avond 18 tot 24 uur,Niet stedelijk,2014,1.65
21117,10000,Auto (passagier),Vertrektijdstip: avond 18 tot 24 uur,Niet stedelijk,2015,1.79
21118,10000,Auto (passagier),Vertrektijdstip: avond 18 tot 24 uur,Niet stedelijk,2016,1.47
21119,10000,Auto (passagier),Vertrektijdstip: avond 18 tot 24 uur,Niet stedelijk,2017,1.51

In [51]:
car_total = car[car['KenmerkenVerplaatsing'].isin(['Totaal'])]
display(car_total)

,Populatie,Vervoerwijzen,KenmerkenVerplaatsing,RegioS,Perioden,Afstand_2
ID,,,,,,
7040,10000,Auto (bestuurder),Totaal,Nederland,2010,15.33
7041,10000,Auto (bestuurder),Totaal,Nederland,2011,16.00
7042,10000,Auto (bestuurder),Totaal,Nederland,2012,15.28
7043,10000,Auto (bestuurder),Totaal,Nederland,2013,15.63
7044,10000,Auto (bestuurder),Totaal,Nederland,2014,15.57
...,...,...,...,...,...,...
14251,10000,Auto (passagier),Totaal,Niet stedelijk,2013,7.84
14252,10000,Auto (passagier),Totaal,Niet stedelijk,2014,6.93
14253,10000,Auto (passagier),Totaal,Niet stedelijk,2015,6.99
14254,10000,Auto (passagier),Totaal,Niet stedelijk,2016,6.73
14255,10000,Auto (passagier),Totaal,Niet stedelijk,2017,6.41

In [52]:
car_per_month = car[car['KenmerkenVerplaatsing'].isin(['Verplaatsing in januari', 
                                                       'Verplaatsing in februari', 
                                                       'Verplaatsing in maart', 
                                                       'Verplaatsing in april', 
                                                       'Verplaatsing in mei', 
                                                       'Verplaatsing in juni',
                                                       'Verplaatsing in juli',
                                                       'Verplaatsing in augustus',
                                                       'Verplaatsing in september',
                                                       'Verplaatsing in oktober',
                                                       'Verplaatsing in november',
                                                       'Verplaatsing in december'])]

display(car_per_month)

,Populatie,Vervoerwijzen,KenmerkenVerplaatsing,RegioS,Perioden,Afstand_2
ID,,,,,,
10912,10000,Auto (bestuurder),Verplaatsing in januari,Nederland,2010,15.96
10913,10000,Auto (bestuurder),Verplaatsing in januari,Nederland,2011,15.90
10914,10000,Auto (bestuurder),Verplaatsing in januari,Nederland,2012,15.80
10915,10000,Auto (bestuurder),Verplaatsing in januari,Nederland,2013,13.80
10916,10000,Auto (bestuurder),Verplaatsing in januari,Nederland,2014,15.73
...,...,...,...,...,...,...
20059,10000,Auto (passagier),Verplaatsing in december,Niet stedelijk,2013,6.63
20060,10000,Auto (passagier),Verplaatsing in december,Niet stedelijk,2014,6.57
20061,10000,Auto (passagier),Verplaatsing in december,Niet stedelijk,2015,5.73
20062,10000,Auto (passagier),Verplaatsing in december,Niet stedelijk,2016,7.42
20063,10000,Auto (passagier),Verplaatsing in december,Niet stedelijk,2017,NaN

In [62]:
kenmerken_months = ['Verplaatsing in januari', 
                    'Verplaatsing in februari',
                    'Verplaatsing in maart',
                    'Verplaatsing in april',
                    'Verplaatsing in mei',
                    'Verplaatsing in juni',
                    'Verplaatsing in juli',
                    'Verplaatsing in augustus',
                    'Verplaatsing in september',
                    'Verplaatsing in oktober',
                    'Verplaatsing in november',
                    'Verplaatsing in december',]
months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

replace_dict = dict(zip(kenmerken_months, months))
car_per_month['KenmerkenVerplaatsing'] = car_per_month['KenmerkenVerplaatsing'].replace(replace_dict)

display(car_per_month)

C:\Users\brigi\AppData\Local\Temp\ipykernel_4960\309921106.py:16: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  car_per_month['KenmerkenVerplaatsing'] = car_per_month['KenmerkenVerplaatsing'].replace(replace_dict)
C:\Users\brigi\AppData\Local\Temp\ipykernel_4960\309921106.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_per_month['KenmerkenVerplaatsing'] = car_per_month['KenmerkenVerplaatsing'].replace(replace_dict)

,Populatie,Vervoerwijzen,KenmerkenVerplaatsing,RegioS,Perioden,Afstand_2
ID,,,,,,
10912,10000,Auto (bestuurder),1,Nederland,2010,15.96
10913,10000,Auto (bestuurder),1,Nederland,2011,15.90
10914,10000,Auto (bestuurder),1,Nederland,2012,15.80
10915,10000,Auto (bestuurder),1,Nederland,2013,13.80
10916,10000,Auto (bestuurder),1,Nederland,2014,15.73
...,...,...,...,...,...,...
20059,10000,Auto (passagier),12,Niet stedelijk,2013,6.63
20060,10000,Auto (passagier),12,Niet stedelijk,2014,6.57
20061,10000,Auto (passagier),12,Niet stedelijk,2015,5.73
20062,10000,Auto (passagier),12,Niet stedelijk,2016,7.42
20063,10000,Auto (passagier),12,Niet stedelijk,2017,NaN

In [66]:
car_per_month['Dag'] = 1
car_per_month['Datum'] = pd.to_datetime(car_per_month[['Perioden', 'KenmerkenVerplaatsing', 'Dag']])
display(car_per_month)

C:\Users\brigi\AppData\Local\Temp\ipykernel_4960\3678008304.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_per_month['Dag'] = 1

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing