In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("83498NED_TypedDataSet_02102024_101634.csv", delimiter=';', index_col='ID')
keys = pd.read_csv("83498NED_metadata.csv", skiprows=19, usecols=['Key', 'Title', 'Description'], delimiter=';')
mode = dict(zip(keys['Key'], keys['Title']))
dataMN = data.replace(mode)

dataMN.iloc[3874:5985]

,Populatie,Vervoerwijzen,KenmerkenVerplaatsing,RegioS,Perioden,Verplaatsingen_1,Afstand_2,Reisduur_3,Verplaatsingen_4,Afstand_5,Reisduur_6
ID,,,,,,,,,,,
3874,10000,Totaal,Verplaatsing in januari,Nederland,2012,2.63,27.89,56.33,80.0,850.0,28.6
3875,10000,Totaal,Verplaatsing in januari,Nederland,2013,2.60,26.59,56.82,79.0,812.0,28.9
3876,10000,Totaal,Verplaatsing in januari,Nederland,2014,2.73,29.14,59.24,83.0,889.0,30.1
3877,10000,Totaal,Verplaatsing in januari,Nederland,2015,2.59,26.93,54.46,79.0,822.0,27.7
3878,10000,Totaal,Verplaatsing in januari,Nederland,2016,2.56,26.02,55.61,78.0,794.0,28.3
...,...,...,...,...,...,...,...,...,...,...,...
5980,10000,Totaal,Verplaatsing in december,Niet stedelijk,2014,2.52,33.65,56.27,76.0,1019.0,28.4
5981,10000,Totaal,Verplaatsing in december,Niet stedelijk,2015,2.57,28.60,58.76,78.0,868.0,29.7
5982,10000,Totaal,Verplaatsing in december,Niet stedelijk,2016,2.40,32.86,54.76,73.0,997.0,27.7
5983,10000,Totaal,Verplaatsing in december,Niet stedelijk,2017,2.34,33.77,56.73,71.0,1021.0,28.6
5984,10000,Totaal,Vertrektijdstip: nacht 0 to 7 uur,Nederland,2010,0.06,1.89,2.57,22.0,658.0,14.9

In [ ]:
dataMN.to_csv("personenmobiliteit incl. namen.csv")